<div class="index">
	<h1>Tic Tac Toe</h1>
	<div class="sign-up">
	<form action="sign_up" method="post" class="sign-up-form form-horizontal">
		<input type="text" size="20" maxlength="30" name="player_name">
		<button type="submit" class="btn">Add Player</button>
	</form>
	</div>
</div>